<h1>
    這是新的Partial 頁面
</h1>

<p>關鍵字: Partial View </p>

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")


<div class="container body-content">
    @RenderBody()
    <hr />
</div>
