
@{
    ViewBag.Title = "TestLayout";
    Layout = "~/Views/Shared/_partialView.cshtml";
}

<h2>TestLayout</h2>
<div>
    <p>使用版面配置頁> 選擇shared資料夾下的layout頁面</p>
    <p>打開View下的cshtml, 嘗試將上方的 Layout = "...." 更改成「../Views/Shared/_Layout.csthml」看看其中結果</p>
    <p>了解partialView的命名規則。</p>
</div>

<div>
    <p>
        這是@@ViewBag.ShowMessage的內容：
        @ViewBag.ShowMessage
    </p>


</div>
