
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <p>
        這邊學習做分頁，首選先去安裝PagedList,開啟NuGet管理器，搜尋PagedList，會有兩個元件要安裝，PagedList & PagedList.MVC,<br />
        如果安裝的時候發生錯誤，<br />
        EntityFramework更新至6.2.0，應該就能解決這個問題。<br />
        若還是不行再跟我說。
    </p>
    <hr />
    <p>
        <a href="~/CustomCustomers/Search" target="_blank">另開分頁</a>

    </p>

</div>

