
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <p>
        這邊學習做分頁，首選先去安裝PagedList,開啟NuGet管理器，搜尋PagedList，會有兩個元件要安裝，PagedList & PagedList.MVC,<br />
        如果安裝的時候發生錯誤，<br />
        EntityFramework更新至6.2.0，應該就能解決這個問題。<br />
        若還是不行再跟我說。
    </p>
    <hr />
    <p>
        <a href="~/CustomCustomers/Search" target="_blank">另開分頁</a>

    </p>
</div>
<div>
    <p>
        透過ViewModel建立自定義的model:<br />
        當Model的欄位無法滿足資料需求的時候，ViewModel的作用就是用來擴充欄位，<br />
        偷懶一點的作法就是，直接複製目標Model的欄位(參考ViewModels/OrderViewModel)，接著再將需要增加的欄位輸入進去，<br />
        之後就能使用ViewModel做為新的容器，載入所需要的資料。<br />


        <a href="~/CustomCustomers/PurchaseOrder">客戶購買列表</a>
    </p>
</div>

